.footer-top{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.footer-top>p{
    color: white;
}
.footer-top>p:hover{
    color: blueviolet;

}
.Footer{
    background-color: #020C1B;
    padding: 5%;
}
.footer-miad{
    width: 70%;
    color: white;
    text-align: center;
    
}
.f-m{
    display: flex;
    justify-content: center;
    align-items: center;

}